@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(17 24 39);
  color: white;
}

.img-container {
  background-color: #111827;
  opacity: 0.6;
  background-image: linear-gradient(#ffffff 1.7px, transparent 1.7px),
    linear-gradient(to right, #ffffff 1.7px, #111827 1.7px);
  background-size: 54px 54px;
  z-index: 10%;
}

.quill {
  /* margin-top: 2rem;   */
  height: 70vh;
  width: 100%;
  margin: auto;
  border-radius: 0.5rem;
  /* background-color: #fff; */
  border: 1px solid #fff;
  color: #000;
  border: none;
  display: flex;
  flex-direction: column;
}

.ql-toolbar,
.ql-snow {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247) !important;
}

.ql-editor {
  background-color: #fff;
  overflow: hidden;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.ql-toolbar {
  /* display: inline-block; */
  /* margin-bottom: 2rem; */
  background-color: white;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
