@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  /* bg-gray-900 */
  background-color: rgb(17 24 39);
  color: white;
}

.img-container {
  background-color: #111827;
  opacity: 0.6;
  background-image: linear-gradient(#ffffff 1.7px, transparent 1.7px),
    linear-gradient(to right, #ffffff 1.7px, #111827 1.7px);
  background-size: 54px 54px;
  z-index: 10%;
}

.blog-response h1 {
  font-size: 2rem;
  font-weight: bold;
  /* margin-top: 1.5rem; */
}

.blog-response h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.blog-response h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
